// Global Styleguide

$fontBlack: hsl(0, 0%, 10%);
$backgroundColor: hsl(171, 28%, 50%);
$secondaryOpacity: hsla(0, 0%, 100%, 0.46);

$fontSmall: 12px;
$fontMedium: 16px;
$fontLarge: 20px;
$fontXL: 24px;
$fontXXL: 36px;

* {
    color: $fontBlack;
    margin: 0;
}

html {
      overflow: hidden;      
}

a {
    text-decoration: none;
}

ul {
    padding: 0;
    list-style-type: none;
}

